
body {
  background-color: grey;
}

button {
  margin: 12px;
}

canvas {
  /* margin-left: 100px; */
  padding: 6px 6px 6px 6px;
}

.game-header {
  margin-left: 120px;
  padding: 6px 6px 6px 6px;
  text-align: center;
  /* color: blue; */
}

.game-header h1 {
  color: blue;
  /* text-align: center */
}

.game-header button {
  padding: 2px 16px 2px 16px
}

.high-scores {
  height: 100%;
  width: 120px;
  position: fixed;
  z-index: 1;  /* stay on top */
  top: 0;    /* stay at the top */
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.high-scores li{
  padding: 6px 8px 6px 12px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

/* Hover-over behavior */
.high-scores li:hover {
  color: #f1f1f1;
}

.maze-area {
  margin-left: 120px;
  padding: 0px 10px;
  text-align: center;
  /* position: center; */
}
